* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

form {
    padding-bottom: 300px;
}

body, form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form > * {
    margin: 10px;
}
